<div class="container">
    <div class="row">
        <div class="col-sm-9 col-md-10 col-lg-10 mx-auto">
            <div class="card card-signin my-5">
                <div class="card-body">
                    <h5 class="card-title text-center">Register</h5>
                    <form class="form-signin" action="/Register/sendRegister" method="POST">
                        {{#each errorMessages}}
                        <p class="loginErrorMsg">{{this}}</p>
                        {{/each}}
                        <div class="form-label-group">
                            <input type="text" id="inputName" class="form-control" placeholder="First Name"
                                name="firstName" value="{{info.fName}}">
                        </div>
                        <div class="form-label-group">
                            <input type="text" id="inputLName" class="form-control" placeholder="Last Name"
                                name="lastName" value="{{info.lName}}">
                        </div>
                        <div class="form-label-group">
                            <input type="text" id="inputEmail" class="form-control" placeholder="Email address"
                                name="userEmail" value="{{info.mail}}">
                        </div>

                        <div class="form-label-group">
                            <input type="password" id="inputPassword" class="form-control" placeholder="Password"
                                name="passw" value="{{info.passw}}">
                        </div>

                        <div class="form-label-group">
                            <input type="password" id="confirmPassword" class="form-control"
                                placeholder="Confirm Password" name="confPass">
                        </div>

                        <button class="btn btn-lg btn-primary btn-block text-uppercase" type="submit">Submit</button>
                        <hr class="my-4">
                        <a href="/Login" class="btn btn-lg btn-success btn-block text-uppercase" role="button"
                            aria-pressed="true">LOG IN</a>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>